<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>guess your Secret Santa</title>
  </head>
  <body>
    <div class='container'>
        <div class='row'>
            <div class='col-6 mx-auto'>
                <h1>guess the following</h1>
                <h2 style = "color:Green;">{{display_name}}</h2>
                
            </div>
        </div>
            <div class='row'>
                <div class='col-6 mx-auto'>
                <form action="http://localhost:5000/parse_data" method="post">
                    <h4> Enter the name in the following box, in order to let your santa know that you know him </h4>
                    <input name="text">
                    <input type="submit">
                </form>
                <p style = "color: BLUE;"> Hint! Enter the decoded result in correct way. There should be a space between the first and last name.</p>
                <p style = "color: red;"> Please note that this link will be active for next 7 days. guessMe before 31st Dec, 2019!</p>
                </div>
            </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>